@page "/enableformdesigner"

<!-- SfPdfViewer component with Form Designer enabled -->
<div class="Pdf-viewer-container">
    <SfPdfViewer2 EnableFormDesigner="true" 
                  DocumentPath="wwwroot/data/Form_Designer.pdf"
                  Height="650px"
                  Width="100%">
    </SfPdfViewer2>
</div>

