<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b413c76b-1d02-414b-b399-63ba43a1c39c/resourceGroups/Ticket-218954/providers/Microsoft.ContainerRegistry/registries/reg218954</ResourceId>
    <ResourceName>reg218954</ResourceName>
    <ResourceGroup>Ticket-218954</ResourceGroup>
    <Subscription>BLBI-BLBI-Embedding_Soundarya Mani Meharan</Subscription>
    <RegistryUrl>https://reg218954.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6dd3b2b3-9f27-53b4-2b61-c792a6c7f7ca</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>