@page "/"
@using Syncfusion.Blazor.SfPdfViewer
@using Syncfusion.Blazor.Buttons

@if (canUndo)
{
    <button @onclick="undo">Undo</button>
}
else
{
    <button @onclick="undo" disabled>Undo</button>
}
@if (canRedo)
{
    <button @onclick="redo">Redo</button>
}
else
{
    <button @onclick="redo" disabled>Redo</button>
}
<SfPdfViewer2 @ref="@viewer"
              @bind-CanUndo="@canUndo"
              @bind-CanRedo="@canRedo"
              DocumentPath="@DocumentPath"
              Height="540px"
              Width="100%">
</SfPdfViewer2>

@code
{
    SfPdfViewer2 viewer;
    bool canUndo = true;
    bool canRedo = true;
    private string DocumentPath { get; set; } = "https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf";

    // Event triggers on Undo button click.
    private async Task undo()
    {
        // API to perform Undo action.
        await viewer.UndoAsync();
    }

    // Event triggers on Redo button click.
    private async Task redo()
    {
        // API to perform Redo action.
        await viewer.RedoAsync();
    }
}