<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Form_Designer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Visibility of Form Field
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enableformdesigner">
                Enable Form Designer
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interactionmode">
                Enable Designer Mode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xmlformat">
                Export/Import as XML
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fdfformat">
                Export/Import as FDF
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xfdfformat">
                Export/Import as XFDF
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jsonformat">
                Export/Import as JSON
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="objectformat">
                Export/Import as Object
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jsonfileformat">
                Export as JSON File
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customannotationtoolbar">
                Custom Annotation Toolbar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customformdesignertoolbar">
                Custom Designer Toolbar
            </NavLink>
        </div>
    </nav>
</div>

